
.sideNavBar{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


li a{
    color: lightgray;
    font-size: small;
}

.mainMenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.plusSignContainer{
    background-color: gray;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plusSign{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

.likedSong{
    width: 1rem;
    height: 1rem;
}

.tertiaryMenu{
    height: 200px;
    overflow-y: scroll;
}

.footer-container{
   background-color:#202020	;

}

.footer-container .col-4{
    color: lightgray;
    display: flex;
    flex-direction: row;
    align-items:center;
} 

.footer-container .col-4 p{
    margin-left: 0.4rem;
    font-size: 0.75rem;
} 

.footer-container .col-4 .Artist{
    font-size: 0.6rem ;
}

.footer-container .col-4 svg{
    transform: scale(0.75);
}



body {
    background: rgb(102,16,5);
    background: linear-gradient(180deg, rgba(102,16,5,1) 0%, rgb(0, 0, 0) 35%);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.842) !important;
}
  
   /* .see-all {
    display: inline;
    text-decoration: none;
    color: rgb(206, 203, 203);
    float: right;
    top: 0;
    right: 2px;
  } */

  #hero-section > h1 {
    display: inline;
    position: relative;
  }
    #hero-section {
    padding-top: 10px;
    padding-bottom: 10px;
  } 

  #hero-section > .container-fluid {
    padding-top: 20px;
  }
  #album > .card {
    max-height: 200px;
    max-width: 105px;
    border: black;
  }

  #album .card img {
    border-radius: 15%;
} 

#hero-section img {
    width: 108px;
}


h4 {
    color: white;
}

#imageSize {
    width: 50px !important;
    height: 50px !important;
}

#fontSize {
    font-size: 11px !important;
}

div h5 {
    position: absolute !important;
    top:17px !important;
}

.card {
    background-color: rgba(41,43,44, 0.7) !important;
}

#arrow {
    color: rgb(255, 255, 255);
    border-color: black;
}

.dropdown {
    padding-left: 890px;;
}

.btn {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: black;
}

#profilePic {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}

#notRounded {
    border-radius: 0% !important;
}

/* #spaceBetween {
    justify-content: space-between;
} */

.seeAll1 {
    position: absolute;
    right: 108px;
    top: 293px;
    color: white;
    font-size: 13px;
}

.seeAll2 {
    position: absolute;
    right: 108px;
    top: 590px;
    color: white;
    font-size: 13px;
}

