.sideNavBar{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


li a{
    color: lightgray;
    font-size: small;
}

.mainMenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.plusSignContainer{
    background-color: gray;
    width: 1rem;
    height: 1rem;
    /* display: flex;
    flex-direction: row; */
    position: relative;

}

.plus{
    background: darkgray;
    height: 1rem;
    width: 1rem;
}

.secondaryMenu li a{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-items: center;
}

li a:hover{
    color:black;
    background: darkgray;
}

li a:active{

}

.likedSong{
    width: 1rem;
    height: 1rem;
}

.tertiaryMenu{
    height: 350px;
    overflow-y: scroll;
}

.footer-container{
   background-color:#202020	;

}

.footer-container .col-4{
    color: lightgray;
    display: flex;
    flex-direction: row;
    align-items:center;
} 

.footer-container .col-4 p{
    margin-left: 0.4rem;
    font-size: 0.75rem;
} 

.footer-container .col-4 .Artist{
    font-size: 0.6rem ;
}

.footer-container .col-4 svg{
    transform: scale(0.75);
}

body {
    background: rgb(102,16,5);
    background: linear-gradient(180deg, rgb(83, 13, 4) 0%, rgb(0, 0, 0) 35%);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.842) !important;
}
  


  #hero-section > h1 {
    display: inline;
    position: relative;
  }
    #hero-section {
    padding-top: 10px;
    padding-bottom: 10px;
  } 

  #hero-section > .container-fluid {
    padding-top: 20px;
  }
  #album > .card {
    max-height: 200px;
    max-width: 105px;
    border: black;
  }

  #album .card img {
    border-radius: 15%;
} 

#hero-section img {
    width: 108px;
}


h4 {
    color: white;
}

#imageSize {
    width: 50px !important;
    height: 50px !important;
}

#fontSize {
    font-size: 11px !important;
}

div h5 {
    position: absolute !important;
    top:17px !important;
}

.card {
    background-color: rgba(41,43,44, 0.7) !important;
}

#arrow {
    color: rgb(255, 255, 255);
    border-color: black;
}

.dropdown {
    padding-left: 820px;;
}

.btn {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: black;
}

#profilePic {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}

#notRounded {
    border-radius: 0% !important;
}

.seeAll1 {
    position: absolute;
    right: 108px;
    top: 293px;
    color: white;
    font-size: 13px;
}

.seeAll2 {
    position: absolute;
    right: 108px;
    top: 590px;
    color: white;
    font-size: 13px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 55px;
    background-color: rgb(19, 19, 19);
    color: white;
    margin-bottom: 0px;
    z-index: 3;
  }
  
  .footercontainer {
    position: relative;
  }
  
  #play {
    position: absolute;
    top: 1px;
    left: 700px;
  }
  
  #containerFooter {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  #forward {
    position: absolute;
    top: 2px;
    left: 760px;
  }
  
  #backward {
    position: absolute;
    top: 2px;
    left: 650px;
  }
  
  #shuffle {
    position: absolute;
    top: 2px;
    left: 610px;
  }
  
  #repeat {
    position: absolute;
    top: 2px;
    left: 810px;
  }
  
  #heart {
    position: absolute;
    top: 10px;
    left: 180px;
  }
  
  #queue {
    position: absolute;
    top: 10px;
    left: 1250px;
  }
  
  #device {
    position: absolute;
    top: 10px;
    left: 1280px;
  }
  
  #volume {
    position: absolute;
    top: 10px;
    left: 1310px;
  }
  
  progress {
    position: absolute;
    display: inline-block;
    width: 30%;
    max-height: 5px;
    left: 490px;
    top: 60px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
  }
  
  progress::-webkit-progress-value {
    background: rgb(131, 129, 129);
    border-radius: 100px;
  }
  
  progress::-moz-progress-bar {
    background: rgb(255, 255, 255);
    border-radius: 100px;
  }
  
  progress::-webkit-progress-value {
    background: rgb(255, 255, 255);
    border-radius: 100px;
  }
  
  progress::-webkit-progress-bar {
    background: rgb(131, 129, 129);
    border-radius: 100px;
  }
  
  #footerHolder {
    display: inline;
  }
  #footerHolder img {
    position: absolute;
    top: 10px;
    left: 5px;
    max-height: 65px;
    max-width: 65px;
    object-fit: cover;
    margin-left: 20px;
  }
  
  #volumeProgress {
    position: absolute;
    display: inline-block;
    width: 5%;
    max-height: 5px;
    left: 1350px;
    top: 40px;
    background: white;
    border-radius: 50px;
  }
  
  #songName {
    position: absolute;
    top: 20px;
    left: 87px;
  }
  
  #songName h4 {
    font-size: 10px;
  }
  
  #songName h3 {
    font-size: 11px;
  }
  
  #minute1 {
    position: absolute;
    top: 55px;
    left: 460px;
    font-size: 11px;
  }
  
  #minute2 {
    position: absolute;
    top: 55px;
    left: 930px;
    font-size: 11px;
  }

  #aviciiSize {
      width: 50px;
      height: 50px;
  }

  #cardMargin {
      margin-bottom: 75px;
  }
  
  #footerButton {
      border-radius: 50%;
      background-color: rgb(19, 19, 19);
      border: 0;
  }
