body {
  background-color: rgb(46, 42, 42) !important;
  color: rgba(255, 255, 255, 0.842) !important;
  font-family: "Poppins", sans-serif;
}

.see-all {
  display: inline;
  text-decoration: none;
  color: rgb(206, 203, 203);
  float: right;
  top: 0;
  right: 2px;
}
#hero-section > h1 {
  display: inline;
  position: relative;
  font-size: 20px;
}
#hero-section {
  padding: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#hero-section > .container-fluid {
  padding-top: 20px;
}
#album > .card {
  min-height: 50px;
  min-width: 100px;
  border: black;
}
#album > .card > img {
  border-radius: 4%;
}
.card-body {
  height: 120px;
  background-color: rgb(51, 46, 46) !important;
}
